body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: white;
        font-family: 'Montserrat', sans-serif;
        background-color: #000;
    }

    /* Video Background */
    #background-video {
        position: fixed; /* Keep the video fixed in place */
        top: 0;
        left: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        object-fit: cover; /* Cover the entire background */
        z-index: -1; /* Place behind other content */
    }
    
    /* Overlay for better text visibility */
    .overlay {
        position: fixed; /* Cover the entire screen */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
        z-index: 0; /* Place it above the video */
    }

    header {
        text-align: center;
        padding: 50px 20px;
        position: relative;
        z-index: 1;
    }

    /* Align titles and descriptions */
    .project-title, .project-description {
        text-align: center;
    }

    /* Reduce the size of the 'View Project on GitHub' link */
    .github-link {
        display: inline-block;
        padding: 5px 10px;
        border: 2px solid #fff;
        border-radius: 5px;
        background-color: transparent;
        transition: background-color 0.3s;
        color: #ccc;
        text-decoration: none;
        font-size: 0.8rem; /* Smaller text size */
    }
    
    .github-link {
        position: relative;
        z-index: 3; /* Ensure it's above other elements */
    }
    .github-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    /* Consistent size for videos and images */
    video, img {
        width: 100%;
        height: auto;
        max-width: 400px; /* Standard width for videos/images */
        margin: 0 auto; /* Center the elements */
        display: block; /* Ensures block-level display for centering */
    }

    /* Standard layout for project containers */
    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Spreads the projects evenly */
        margin-bottom: 2rem;
        z-index: 1;
    }

    .project {
        flex-basis: 45%; /* Adjusted width for uniform sizing */
        margin-bottom: 1rem;
        text-align: center; /* Center everything */
    }

    .full-width {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    @media (max-width: 768px) {
        .project {
            flex-basis: 100%; /* Full width for smaller screens */
        }
    }

    footer {
        margin-top: auto;
        position: relative;
        z-index: 1;
        color: white;
        text-align: center;
        padding: 10px 20px;
    }
